################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/AdminJustAndJustice/.vs/AdminJustAndJustice.slnx/FileContentIndex/732d4c9a-a4b2-41a2-be06-7b5da098d109.vsidx
/AdminJustAndJustice/.vs/AdminJustAndJustice.slnx/v18/.suo
